.product-details {
    font-size: 18px;
}
input, textarea {
    font-size: 18px;
}
.image-input {
    display: inline;
}
.stock-warning {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.button {
    margin-left: 5px;
}

.edit-recipe-url {
    width: 100%;
}
