.message-appear {
    opacity: 0.01;

    .message-appear-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
}

.message-leave {
    opacity: 0.01;
    transition: opacity 1s ease-in;

    .message-leave-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
    }
}

.notification {
    font-size: 32px;
    font-weight: bold;
}

