.latestProducts img{
    postion: relative;
    height: 300px;
    width: 800px;
}

.latestProducts {
  width: 800px;
  margin-top: -2px;
}

.latestProducts {
  margin-left: 1px;
  margin-right: 1px;
}

.is-300x300 {
    width: 300px;
    height: 300px;
}

.homeImg {
    object-fit: cover;
    height: 337.5px;
    width: 900px;

}

.homeText {
    font: italic 110px 'Lora', serif;
    //top: 350px;
    z-index: 100;
    position: absolute;
    top: 0;
    padding: 10px;
    color: whitesmoke;
    text-align: center;
    height: 100%;
    width: 100%;
    padding-top: 35px;
    background-color: rgba(0, 0, 0, 0.13);
}

.homeContainer {
    position: relative;
    height: 337.5px;
    width: 900px;
    margin-top: -20px;
    margin-left: -20px;
}

h1.homeUnderline {
  margin-top: 20px;
  margin-bottom: 0;
}

hr.homeUnderline {
  margin-top: 10px;
  margin-bottom: 20px;
}

.vCenterContent {
    padding: 0;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.2em;
    font-weight: 450;
}

.vCenterContainer {
  height: 60px;
  display: flex;
  /* flex-direction: column;*/
  align-items: center;
  /* justify-content: center;*/
}

a.no-dec {
    color: #4a4a4a; /* blue colors for links too */
    text-decoration: inherit;
}

.panel.product {
    height: 250px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.latest-title-span {
    position: absolute;
    top:150px;
    left: 35px;
    color: white;
    font: bold 28px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
}

span.background {
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
}

.spacer {
   padding:0 5px;
}

.homeTitle {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 22px;
}

@media (max-width: 736px) {
    .homeContainer {
        margin-left: -5px;
    }
    .homeImg, .homeContainer {
        width: 400px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
    }
    .homeText {
        text-align: center;
        //line-height: 70px;
        font-size: 42px;
        padding-top: 20px;
    }
    .homeTitle {
        color: #363636;
        font-size: 28px;
        line-height: 1;
    }
    .homeUnderline {
        margin-top: 12px;
    }
    .panel.product {
        width: 250px;
        height: 250px;
    }

    .latestProducts {
        margin-bottom: 200px !important;
    }
    .panel.product{
        img {
            max-height: 160px;
        }
        p {
            text-align: center;
            padding-bottom: 10px;
        }
    }
}
