.latestProducts img{
    postion: relative;
    height: 450px;
}

.latestProducts {
  width: 900px;
  margin-top: -2px;
}

.latestProducts {
  margin-left: 1px;
  margin-right: 1px;
}

.is-300x300 {
    width: 300px;
    height: 300px;
}

h1.homeUnderline {
  margin-top: 20px;
  margin-bottom: 0;
}

hr.homeUnderline {
  margin-top: 10px;
  margin-bottom: 20px;
}

.vCenterContainer {
  height: 50px;
  display: flex;
  /* flex-direction: column;*/
  align-items: center;
  /* justify-content: center;*/
}

.vCenterContent {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 20px;
  font-weight: 450;
}

a.no-dec {
    color: #4a4a4a; /* blue colors for links too */
    text-decoration: inherit;
}

@media (max-width: 768px) {
    .latestProducts {
        margin-bottom: 200px !important;
    }
}


.latest-title-span {
    position: absolute;
    top:150px;
    left: 35px;
    color: white;
    font: bold 28px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
}

span.background {
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
}

.spacer {
   padding:0 5px;
}
