
/*
$family-serif: "Georgia", serif;
$family-primary: $family-serif;
*/

@import "~bulma/bulma.sass";

#root {
    margin: 0 auto;
}

#app {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 5px;
}

body {
    background: transparent;
    font-size: 18px;
}
