.nav-item {
    display: inline-flex;
}

.nav {

  @import url('https://fonts.googleapis.com/css?family=Ubuntu');
  font-family: 'Ubuntu', sans-serif;


  box-shadow: 0 2px 20px rgba(10, 10, 10, 0.15)

}

.nav-right {
    display: flex;
}
.nav-right-mobile {
    display: none;
}


@media (min-width: 736px) {
    .nav {
        height: 80px;        
    }
    .nav, .nav-item, i.material-icons{
        font-size: 40px !important;
    }
}


@media (max-width: 736px) {
    .nav-label {
        display: none;
    }
    .nav-right {
        display: none;
    }
    .nav-item {
        padding: 3px;
    }
}

@media (max-width: 375px) {
    .nav-item {
        padding-left: 0px !important;
    }
}

@media (max-width: 365px) {
    .nav-right-mobile {
        font-size: 8px;
    }
    .nav-item {
        padding: 5px;
    }
}

@media (max-width: 325px) {
    .nav-item {
        padding: 5px;
    }
    nav {
        font-size: 14px;
    }
    .nav-right-mobile {
        font-size: 10px;
    }
}
